* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 1.25em;
}

body {
  height: 100%;
  padding: 1em;
}

div {
  box-sizing: border-box;
}

h2,
h3,
h4 {
  margin-bottom: 0.5em;
}

hr {
  margin: 1em 0;
}

img {
  display: block;
  margin-bottom: 0.5em;
}

img[src$=".svg"] {
  max-height: 8em;
}

.box {
  border: 1px solid;
}

.content {
  display: flex;
  justify-content: space-between;

  > * {
    flex: none;
  }
}

.cs-min {
  width: min-content;
  margin-bottom: 1em;
}

.cs-max {
  width: max-content;
  margin-bottom: 1em;
}

.cs-fit {
  width: fit-content(300px);
  margin-bottom: 1em;
}

.cs-grid {
  display: grid;
  grid-template-columns: min-content max-content fit-content(300px);
  margin-top: 0.5em;
}

.flex-basic {
  display: flex;
  margin-bottom: 1em;
}

.flex-auto {
  display: flex;
  margin-bottom: 1em;

  div:first-child {
    flex: 1 0 auto;
  }

  div:nth-child(2) {
    flex: 2 0 auto;
  }

  div:nth-child(3) {
    flex: none;
  }
}

.flex-zero {
  display: flex;
  margin-bottom: 1em;

  div:first-child {
    flex: 1;
  }

  div:nth-child(2) {
    flex: 2;
  }

  div:nth-child(3) {
    flex: 0 0 0;
  }
}

.flex-alignment {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;

  .box:nth-child(2n) {
    padding: 2em;
  }

  .box:nth-child(2n + 1) {
    padding: 1.5em 1em 0.5em;
  }

  .box:nth-child(3n) {
    padding: 1em;
  }
  
  .box:nth-child(3n + 2) {
    font-size: 1.5em;
  }
}

.flex-uc1 {
  display: flex;
  height: 60vh;
  border: 1px dashed;
  margin-bottom: 1em;

  img {
    margin: auto;
    height: 5em;
  }
}

.flex-uc2 {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  gap: 1em;

  img {
    height: 3em;
  }

  a:last-child {
    margin-left: auto;
  }
}

.flex-uc3 {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;

  .card {
    display: flex;
    flex-direction: column;
    width: 12em;
    padding: 1em;
    box-shadow: 2px 2px 8px grey;
  }
}

.grid1 {
  display: grid;
  grid-template-columns: 5em 5em 5em;
  grid-template-rows: 5em 5em;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
}

[class^='grid3'] {
  display: grid;
  margin-bottom: 1em;

  .fr { background-color: limegreen }
  .auto { background-color: skyblue }
  .minmax { background-color: gold }
  .fit { background-color: coral }
  .fixed { background-color: violet }
  .max { background-color: silver }
}

.grid3a { grid-template-columns: 1fr 2fr 1fr }
.grid3b { grid-template-columns: auto auto auto }
.grid3c { grid-template-columns: auto 1fr auto }
.grid3d { grid-template-columns: 1fr auto 1fr }
.grid3e { grid-template-columns: 1fr auto fit-content(200px) }
.grid3f { grid-template-columns: fit-content(200px) auto minmax(200px, 400px) }
.grid3g { grid-template-columns: 1fr auto minmax(200px, 400px) }
.grid3h { grid-template-columns: fit-content(200px) minmax(200px, 400px) 400px }
.grid3i { grid-template-columns: fit-content(200px) max-content auto }

.grid4 {
  display: grid;
  grid-template-columns: repeat(6, 3em);
  grid-template-rows: repeat(6, 3em);

  .box {
    display: flex;
  }

  .emoji {
    font-size: 2em;
    margin: auto;
  }
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(6, 3em);
  grid-template-rows: repeat(6, 3em);
  grid-template-areas: 'apple apple apple . . .'
                       'apple apple apple . . .'
                       'apple apple apple banana banana .'
                       '. . . banana banana .'
                       '. . . . . . '
                       'cherry cherry cherry cherry cherry cherry';

  .box:first-child { grid-area: apple }
  .box:nth-child(2) { grid-area: banana }
  .box:nth-child(3) { grid-area: cherry }
}

.grid6 {
  height: 60vmin;
  width: 60vmin;
  display: grid;
  grid-template-columns: repeat(4, 10vmin);
  grid-gap: 1em;
  grid-auto-rows: 10vmin;
  grid-template-areas: 
    "a a b b"
    "a a b b"
    "c c d d"
    "c c d d";
  justify-content: normal;
  align-content: normal;
  justify-items: normal;
  align-items: normal;
  
  .box:first-child {
    font-size: 2em;
    grid-area: a;
  }

  .box:nth-child(2) {
    padding: 2em;
    grid-area: b;
  }

  .box:nth-child(3) {
    padding: 0.5em;
    font-size: 1.5em;
    grid-area: c;
  }

  .box:nth-child(4) {
    grid-area: d;
  }
}