// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #2b1f31;

// Primary/body text
$mainFont: 'Public Sans', 'Verdana', 'ST Hei', 'Microsoft Yahei', sans-serif;
$mainFontSize: 2.4em;
$mainColor: #fff;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Public Sans', 'Verdana', 'ST Hei', 'Microsoft Yahei', sans-serif;
$headingColor: #bef992;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.369em;
$heading2Size: 1.777em;
$heading3Size: 1.333em;
$heading4Size: 1em;

$codeFont: 'Dank Mono', monospace;

// Links and actions
$linkColor: #5fb9b0;
$linkColorHover: lighten($linkColor, 10%);

// Text selection
$selectionBackgroundColor: $headingColor;
$selectionColor: $backgroundColor;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}
