// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #001628;

// Primary/body text
$mainFont: 'PT Sans', 'HeiTi SC', 'Microsoft YaHei', sans-serif;
$mainFontSize: 2.4em;
$mainColor: #fff;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Movement', 'Arial Black', 'Microsoft YaHei', sans-serif;
$headingColor: #fdffba;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.827em;
$heading2Size: 1.999em;
$heading3Size: 1.414em;
$heading4Size: 1em;

$codeFont: 'Dank Mono', monospace;

// Links and actions
$linkColor: #c0ffc2;
$linkColorHover: darken($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #f69d9d;
$selectionColor: $backgroundColor;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}
