<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hoomin Chatbox</title>
    <meta name="description" content="A simple on-page chatbox to demonstrate Nexmo's Conversations API" />
    <link id="favicon" rel="icon" href="https://www.nexmo.com/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/agent.css" />
    <script src="/nexmoClient.js"></script>
    <script src="/common.js" defer></script>
    <script src="/agent.js" defer></script>
  </head>

  <body>
    <main>
      <div class="header">
        <h1>👹 Chibi-chat 👹</h1>
      </div>

      <div id="message-area" class="messages">

      </div>

      <div class="controls">
        <form id="textentry">
          <input id="textbox" type="text" />
          <input id="submit" type="submit" value="Send" />
        </form>
      </div>
    </main>
  </body>
</html>
