@font-face {
  font-family: "Routed Gothic";
  src: url("fonts/routed-gothic-narrow.woff2") format("woff2"), url("fonts/routed-gothic-narrow.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Routed Gothic";
  src: url("fonts/routed-gothic-narrow-italic.woff2") format("woff2"), url("fonts/routed-gothic-narrow-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

:root {
  --pandaHue: -50deg; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

body {
  font-family: "Routed Gothic", "Arial Narrow", sans-serif;
  height: 100%;
  font-size: calc(1em + 2vmin);
  text-align: center;
  margin: 0;
  padding: 0; }

section {
  width: 100%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

img,
video {
  max-width: 100%; }

h1 {
  font-size: 2em; }

a {
  text-decoration: none;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  color: forestgreen; }

strong {
  color: indigo;
  font-weight: normal;
  font-size: 1.1em; }

em {
  color: indigo; }

pre {
  margin: 0 auto;
  border-radius: 0.125em;
  font-size: 75%;
  padding: 0.5em;
  overflow: auto;
  max-width: 100%; }

code {
  font-size-adjust: 0.51;
  font-family: "Victor Mono", Courier, monospace;
  background: gainsboro;
  color: forestgreen;
  border-radius: 0.125em;
  padding: 0 0.125em; }

ul {
  text-align: left;
  line-height: 1.4;
  margin: 0 auto 1em; }

li ul {
  margin: initial; }

blockquote {
  max-width: 28em;
  text-align: left;
  margin: 0 auto;
  line-height: 1.2; }

.title {
  font-size: 2.5em; }

.o-content {
  width: 100%;
  max-height: 100vh;
  margin-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.o-controls {
  display: none; }
  .o-controls a {
    word-wrap: break-word;
    border-bottom: 1px dotted;
    display: inline-block; }
    .o-controls a:hover {
      border-bottom: 1px solid;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

[class*="img"] {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center; }

[class*="o-emoji"] {
  display: inline-block;
  vertical-align: middle;
  font-family: "Apple Color Emoji", "Segoe UI Emoji"; }

.o-emoji_large {
  font-size: calc(1.75em + 3vw); }

span[role=img][aria-label],
span[role=img][aria-label] {
  position: relative; }

span[role=img][aria-label]:focus::after,
span[role=img][aria-label]:hover::after {
  font-size: 1rem;
  font-family: "Routed Gothic", "Arial Narrow", sans-serif;
  font-weight: 400;
  position: absolute;
  display: block;
  line-height: 1.2;
  content: attr(aria-label);
  background-color: white;
  z-index: 3;
  top: 100%;
  left: 0;
  padding: 0.25em;
  border: 1px solid #fff;
  -webkit-box-shadow: 2px 2px 4px #000;
          box-shadow: 2px 2px 4px #000; }

.redpanda {
  -webkit-filter: hue-rotate(var(--pandaHue));
          filter: hue-rotate(var(--pandaHue)); }

@media print {
  span[role=img][aria-label]::after {
    content: " (" attr(aria-label) ") "; } }

@media screen and (min-aspect-ratio: 1 / 1) {
  body {
    overflow: hidden; }
  section {
    height: 100%;
    padding: 1em;
    position: absolute; }
  ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
  pre {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content; }
  .fragment {
    opacity: 0; }
  .l-double {
    display: grid;
    grid-template-columns: 50% 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .o-controls {
    font-size: 75%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 40vw;
    margin: 0 auto; }
  .start {
    display: block;
    z-index: 2; }
  [id^=slide]:target ~ #start {
    display: none; }
  [id^=slide] {
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    opacity: 0;
    z-index: 0; }
  [id^=slide]:target {
    opacity: 1;
    z-index: 2; }
  [id^=slide]:target ~ .slide {
    opacity: 0;
    z-index: 0; } }

.controllers {
  position: fixed;
  top: 0;
  left: 0; }

.twitter {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  color: forestgreen;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  mix-blend-mode: luminosity;
  opacity: 0.6; }

code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: "Victor Mono", Courier, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d; }

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }
