* {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 1.25em; }

body {
  height: 100%;
  padding: 1em; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1,
h2,
h3 {
  margin-bottom: 0.5em; }

hr {
  margin: 1em 0; }

img {
  display: block;
  margin-bottom: 0.5em; }

img[src$=".svg"] {
  max-height: 8em; }

.box {
  border: 1px solid; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content > * {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

.cs-min {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 1em; }

.cs-max {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1em; }

.cs-fit {
  width: fit-content(300px);
  margin-bottom: 1em; }

.cs-grid {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-max-content fit-content(300px);
  grid-template-columns: min-content max-content fit-content(300px);
  margin-top: 0.5em; }

.flex-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em; }

.flex-auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em; }
  .flex-auto div:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  .flex-auto div:nth-child(2) {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 auto;
            flex: 2 0 auto; }
  .flex-auto div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; }

.flex-zero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em; }
  .flex-zero div:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .flex-zero div:nth-child(2) {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2; }
  .flex-zero div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0; }

.flex-alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em; }
  .flex-alignment .box:nth-child(2n) {
    padding: 2em; }
  .flex-alignment .box:nth-child(2n + 1) {
    padding: 1.5em 1em 0.5em; }
  .flex-alignment .box:nth-child(3n) {
    padding: 1em; }
  .flex-alignment .box:nth-child(3n + 2) {
    font-size: 1.5em; }

.flex-uc1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  border: 1px dashed;
  margin-bottom: 1em; }
  .flex-uc1 img {
    margin: auto;
    height: 5em; }

.flex-uc2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em; }
  .flex-uc2 img {
    height: 3em; }
  .flex-uc2 a:last-child {
    margin-left: auto; }

.flex-uc3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  margin-bottom: 1em; }
  .flex-uc3 .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 12em;
    padding: 1em;
    -webkit-box-shadow: 2px 2px 8px grey;
            box-shadow: 2px 2px 8px grey; }

.grid1 {
  display: grid;
  grid-template-columns: 5em 5em 5em;
  grid-template-rows: 5em 5em; }

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr)); }

[class^='grid3'] {
  display: grid;
  margin-bottom: 1em; }
  [class^='grid3'] .fr {
    background-color: limegreen; }
  [class^='grid3'] .auto {
    background-color: skyblue; }
  [class^='grid3'] .minmax {
    background-color: gold; }
  [class^='grid3'] .fit {
    background-color: coral; }
  [class^='grid3'] .fixed {
    background-color: violet; }
  [class^='grid3'] .max {
    background-color: silver; }

.grid3a {
  grid-template-columns: 1fr 2fr 1fr; }

.grid3b {
  grid-template-columns: auto auto auto; }

.grid3c {
  grid-template-columns: auto 1fr auto; }

.grid3d {
  grid-template-columns: 1fr auto 1fr; }

.grid3e {
  grid-template-columns: 1fr auto fit-content(200px); }

.grid3f {
  grid-template-columns: fit-content(200px) auto minmax(200px, 400px); }

.grid3g {
  grid-template-columns: 1fr auto minmax(200px, 400px); }

.grid3h {
  grid-template-columns: fit-content(200px) minmax(200px, 400px) 400px; }

.grid3i {
  grid-template-columns: fit-content(200px) -webkit-max-content auto;
  grid-template-columns: fit-content(200px) max-content auto; }

.grid4 {
  display: grid;
  grid-template-columns: repeat(6, 3em);
  grid-template-rows: repeat(6, 3em); }
  .grid4 .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .grid4 .emoji {
    font-size: 2em;
    margin: auto; }

.grid5 {
  display: grid;
  grid-template-columns: repeat(6, 3em);
  grid-template-rows: repeat(6, 3em);
  grid-template-areas: 'apple apple apple . . .' 'apple apple apple . . .' 'apple apple apple banana banana .' '. . . banana banana .' '. . . . . . ' 'cherry cherry cherry cherry cherry cherry'; }
  .grid5 .box:first-child {
    grid-area: apple; }
  .grid5 .box:nth-child(2) {
    grid-area: banana; }
  .grid5 .box:nth-child(3) {
    grid-area: cherry; }

.grid6 {
  height: 60vmin;
  width: 60vmin;
  display: grid;
  grid-template-columns: repeat(4, 10vmin);
  grid-gap: 1em;
  grid-auto-rows: 10vmin;
  grid-template-areas: "a a b b" "a a b b" "c c d d" "c c d d";
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -ms-flex-line-pack: normal;
      align-content: normal;
  justify-items: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal; }
  .grid6 .box:first-child {
    font-size: 2em;
    grid-area: a; }
  .grid6 .box:nth-child(2) {
    padding: 2em;
    grid-area: b; }
  .grid6 .box:nth-child(3) {
    padding: 0.5em;
    font-size: 1.5em;
    grid-area: c; }
  .grid6 .box:nth-child(4) {
    grid-area: d; }
