// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #eaf6ff;

// Primary/body text
$mainFont: 'Reforma', serif;
$mainFontSize: 2.5em;
$mainColor: #232528;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Reforma', serif;
$headingColor: #2a2a72;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.999em;
$heading2Size: 1.414em;
$heading3Size: 1.000em;
$heading4Size: 1.000em;

// Links and actions
$linkColor: #009ffd;
$linkColorHover: darken($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #232528;
$selectionColor: #ffa400;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}
