@import url(https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&family=Cinzel:wght@500&family=Poppins:wght@300&display=swap);

:root {
  --base-font-stack: "Poppins", Helvetica, Arial, sans-serif;
  --bg-colour: #00403a;
  --txt-colour: #cfba86;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1600,20,1.414,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --fluid-min-width: 320;
  --fluid-max-width: 1600;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
  --f--1-min: 12.8;
  --f--1-max: 14.14;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 16;
  --f-0-max: 20;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 20;
  --f-1-max: 28.28;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 25;
  --f-2-max: 39.99;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 31.25;
  --f-3-max: 56.54;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 39.06;
  --f-4-max: 79.95;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
  --f-5-min: 48.83;
  --f-5-max: 113.05;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
}

@media screen and (min-width: 1600px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
*:where(:not(iframe, canvas, img, svg, video, a, button):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: var(--bg-colour);
  color: var(--txt-colour);
  font-family: var(--base-font-stack);
  font-size: var(--step--1);
  min-height: 100%;
}

@media all and (min-width: 100em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

main {
  min-height: 100%;
  padding-bottom: 5em;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav {
  padding: 1em;
  min-width: 320px;
  max-width: 1600px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
}

button {
  border: none;
  font-size: inherit;
  font-family: var(--base-font-stack);
  cursor: pointer;
  touch-action: manipulation;
  background-color: unset;
  padding: 0;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

ol {
  counter-reset: revert;
}

textarea {
  white-space: revert;
}

table {
  border-collapse: collapse;
}

a {
  color: var(--txt-colour);
  text-decoration: none;
}

.l-page {
  min-width: 320px;
  max-width: 1600px;
  margin-left: 16px;
  margin-right: 16px;
}

@media all and (min-width: 40em) {
  .l-page {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media all and (min-width: 56.25em) {
  .l-page {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media all and (min-width: 75em) {
  .l-page {
    margin-left: 90px;
    margin-right: 90px;
  }
}

@media all and (min-width: 100em) {
  .l-page {
    margin-left: 180px;
    margin-right: 180px;
  }
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

@media all and (min-width: 40em) {
  .l-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media all and (min-width: 56.25em) {
  .l-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media all and (min-width: 75em) {
  .l-grid {
    gap: 1.5em;
  }
}

section {
  transform-style: preserve-3d;
}

@media (min-width: 0em) and (max-width: 39.9375em) {
  section {
    grid-template-areas: '. . . .'
                         '. . . .'
                         '. . . .'
                         'l1 l1  . .'
                         'l2 l2 l2 l2'
                         '. . l3 l3'
                         'sh sh sh sh'
                         'd1 d1 d1 d1'
                         'd2 d2 d2 d2'
  }
}

@media all and (min-width: 40em) and (max-width: 56.1875em) {
  section {
    grid-template-areas: '. . . . . . . .'
                         '. . . . . . . .'
                         '. . . . . . . .'
                         'l1 l1 l1 l1 . . . .'
                         'l2 l2 l2 l2 l2 l2 l2 l2'
                         '. . . . l3 l3 l3 l3'
                         'sh sh sh sh sh . . .'
                         '. . . d1 d1 d1 d1 d1'
                         '. . . d2 d2 d2 d2 d2'
  }
}

@media all and (min-width: 56.25em) {
  section {
    grid-template-rows: var(--step-5) var(--step-5) 40vmin repeat(3, min-content);
    grid-template-areas: '. . . . . . . . . . . .'
                         '. . . . . . . . . . . .'
                         '. . . . . . . . . . . .'
                         'l1 l1 l1 l1 l2 l2 l2 l2 l3 l3 l3 l3'
                         'sh sh sh sh sh sh . . . . . .'
                         '. . . . d1 d1 d1 d1 d2 d2 d2 d2'
  }
}

@media all and (min-width: 100em) {
  section {
    grid-template-rows: var(--step-5) var(--step-5) 55vmin repeat(3, min-content);
  }
}

.home-link {
  width: 8em;
  margin-right: auto;
}

.btn {
  padding: 1em;
  background-color: var(--txt-colour);
  border-radius: 0.5em;
  transition: transform 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  transform: scale(1.05);
}

.heading {
  font-family: "Cinzel Decorative", "Goudy Old Style", "Garamond", "Big Caslon",
    "Times New Roman", serif;
  font-size: var(--step-5);
  line-height: 1.2;
  text-align: center;
  text-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.75);
  grid-row: 1/3;
  grid-column: 1/-1;
}

@media all and (min-width: 75em) {
  .heading {
    grid-column: 2/-2;
  }
}

.image {
  grid-column: 1/-1;
  grid-row: 2/4;
  transform: translateZ(-1px);
  -webkit-mask-image: radial-gradient(
    ellipse 65% 50%,
    black 50%,
    transparent 80%
  );
  mask-image: radial-gradient(
    ellipse 65% 60% at 50% 45%,
    black 50%,
    transparent 80%
  );
}

@media all and (min-width: 75em) {
  .image {
    grid-column: 2/-2;
  }
}

.link {
  font-family: "Cinzel", "Goudy Old Style", "Garamond", "Big Caslon",
    "Times New Roman", serif;
  font-size: var(--step-3);
  line-height: 1.1;
  text-align: center;
  text-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.75);
  align-self: center;
  transition: transform 0.3s ease-in;
}

.link:hover {
  transform: scale(1.05);
}

.link:first-of-type {
  grid-area: l1;
}

.link:nth-of-type(2) {
  grid-column: l2;
}

.link:last-of-type {
  grid-column: l3;
}

@media all and (min-width: 0em) and (max-width: 56.1875em) {
  .link {
    margin-bottom: 0.5em;
  }

  .link:first-of-type {
    text-align: left;
  }

  .link:last-of-type {
    text-align: right;
  }
}

.subhead {
  grid-area: sh;
  font-size: var(--step-1);
}

@media all and (min-width: 40em) {
  .subhead {
    padding-top: 2em;
    padding-bottom: 1em;
  }
}

.details1 {
  grid-area: d1;
}

.details2 {
  grid-area: d2;
}

footer {
  width: 100%;
  padding: 1em;
  background-color: black;
  text-align: center;
}
