// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #fafaff;

// Primary/body text
$mainFont: 'iA Writer Duospace', monospace;
$mainFontSize: 2.6em;
$mainColor: #000;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'iA Writer Duospace', monospace;
$headingColor: #1572b6;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.999em;
$heading2Size: 1.414em;
$heading3Size: 1.000em;
$heading4Size: 1.000em;

// Links and actions
$linkColor: #33a9dc;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #b2d7ff;
$selectionColor: #000;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
