// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #fff;
$logoFont: 'Sassy Molassy', cursive;

// Primary/body text
$mainFont: 'Edmond Sans', sans-serif;
$mainFontSize: 36px;
$mainColor: #333;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Edmond Sans', sans-serif;
$headingColor: #ff5b0a;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.369em;
$heading2Size: 1.777em;
$heading3Size: 1.333em;
$heading4Size: 1em;

// Links and actions
$linkColor: #337ab7;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: #ff5e99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
