// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #f4f4f2;

// Primary/body text
$mainFont: 'Inria Sans', sans-serif;
$mainFontSize: 2.5em;
$mainColor: #30302f;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Inria Serif', serif;
$headingColor: #1253a4;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 2.827em;
$heading2Size: 1.999em;
$heading3Size: 1.414em;
$heading4Size: 1.000em;

// Links and actions
$linkColor: #f26964;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #ffd464;
$selectionColor: #30302f;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
