// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #fefefe;

// Primary/body text
$mainFont: 'Amaranth', sans-serif;
$mainFontSize: 2.5em;
$mainColor: #1f392b;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Amaranth', serif;
$headingColor: #43c280;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.999em;
$heading2Size: 1.414em;
$heading3Size: 1.000em;
$heading4Size: 1.000em;

// Links and actions
$linkColor: #828081;
$linkColorHover: darken( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #e8c796;
$selectionColor: #1f392b;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
